@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
@theme{
  --default-font-family:'Nunito Sans'
}
[data-theme='light'] {
  --bg-color:hsl(0, 0%, 99%);
  --elements-bg:hsl(0, 100%, 100%);
  --text-color:hsl(200, 15%, 8%);
  --input:hsl(0, 0%, 50%);
}
[data-theme='dark'] {
  --bg-color:hsl(207, 26%, 17%);
  --elements-bg:hsl(209, 23%, 22%);
  --text-color:hsl(0, 100%, 100%);
  --input:hsl(0, 0%, 50%);
}